include ../mixins/functions

+pageHeader('Comerciante & Empresa', 'assets/images/header/header_media.svg')

.container#tramites

    h1.text-title 1. Comerciante

    .brand-line-primary

    .row-12.my-5
        
        .card.py-3

            .card-body

                img.img-a(src="assets/images/pages/img1.svg").img-fluid

                img.img-a.mt-5(src="assets/images/pages/img2.svg").img-fluid

    
                p.mt-5 Para establecer un análisis más profundo de los conceptos relacionados con comerciante y empresa se sugiere consultar el Código de Comercio, el cual es un conjunto de normas secuencialmente ordenadas de acuerdo con el derecho mercantil del país, en este caso para Colombia que tiene como objetivo implementar justicia a las diversas actividades comerciales del país.

    #clasificacion
    h1.text-title 1.1 Calificación de los comerciantes
    .brand-line-primary 

    .card.py-3

        .card-body

            p Para el análisis de los comerciantes es importante revisar el capítulo 1 del Código de comercio que se encuentra en el material complementario de esta actividad de aprendizaje, especialmente los artículos del 10 al 18

    img.img-a.mt-5(src="assets/images/pages/img3.svg").img-fluid 
    #obligaciones
    h1.mt-5.text-title 1.2 Obligaciones de los comerciantes 
    .brand-line-primary
    .card
        .card-body
            p.mb-5 De acuerdo con el artículo 19 del Código de comercio, el comerciante tiene las obligaciones que se indican en la Figura 

            .row.px-5.justify-content-center.align-items-center
                .col-auto
                    img.img-a.mt-5(src="assets/images/pages/img4.svg").img-fluid 
                .col-12.col-md-10
                    p.mb-0 Matricularse en el registro mercantil.

            .row.px-5.justify-content-center.align-items-center
                .col-auto
                    img.img-a.mt-5(src="assets/images/pages/img5.svg").img-fluid 
                .col-12.col-md-10
                    p.mb-0 Inscribir en el registro mercantil todos los actos, libro y documentos respecto de los Cuales la ley exija esa formalidad.

            .row.px-5.justify-content-center.align-items-center
                .col-auto
                    img.img-a.mt-5(src="assets/images/pages/img6.svg").img-fluid 
                .col-12.col-md-10
                    p.mb-0 Llevar la contabilidad regular de sus negocios, conforme a las prescripciones legales.

            .row.px-5.justify-content-center.align-items-center
                .col-auto
                    img.img-a.mt-5(src="assets/images/pages/img7.svg").img-fluid 
                .col-12.col-md-10
                    p.mb-0 Conservar, con arreglo a la ley, la correspondencia y demás documentos relacionados con sus negocios o actividades.

            .row.px-5.justify-content-center.align-items-center
                .col-auto
                    img.img-a.mt-5(src="assets/images/pages/img8.svg").img-fluid 
                .col-12.col-md-10
                    p.mb-0 Abstenerse de ejecutar actos de competencia desleal.   

    #actos
    h1.text-title 1.3 De los actos, operaciones y empresas mercantiles
    .brand-line-primary
    .card
        .card-body
            p En este aspecto es importante revisar los artículos del 20 al 24 del Código de comercio, los cuales se discriminan en la siguiente tabla. 

            img.img-a.mt-5(src="assets/images/pages/img9.svg").img-fluid  

            p.mt-5 De acuerdo con los anteriores artículos del código de comercio se debe tener en cuenta la actividad que realiza la empresa y todos los actos mercantiles que permita generar confianza a los clientes y generar cumplimiento en las obligaciones tributarias por parte de la empresa.

            img.img-a.mt-5(src="assets/images/pages/img10.svg").img-fluid  

