include ../mixins/functions

+pageHeader('Comerciante & Empresa', 'assets/images/header/header_media.svg')

.container#transformaciones

 .container#tramites

    h1.text-title 2. La empresa
    .brand-line-primary
    .card
        .card-body
            p Una empresa es un conjunto de elementos materiales, humanos, técnicos, tecnológicos y financieros, que al integrarse tienen el objetivo de generar ingresos a través de la producción de bienes o prestación de servicios para participar con una marca en el mercado de una región.

    #objetivos
    h1.mt-5.text-title 2.1 Objetivos principales 
    .brand-line-primary
    .card
        .card-body
            p Son muchas las razones u objetivos que se pueden trazar cuando se piensa en crear una empresa. Algunos de ellos se observan a continuación

        .row.justify-content-center.align-items-center
            .col-12.col-md-4
                img.img-a.mt-5(src="assets/images/pages/img11.svg").img-fluid  
            .col-12.col-md-4
                img.img-a.mt-5(src="assets/images/pages/img12.svg").img-fluid  
            .col-12.col-md-4
                img.img-a.mt-5(src="assets/images/pages/img13.svg").img-fluid 

        .row.justify-content-center.align-items-center
            .col-12.col-md-4
                img.img-a.mt-5(src="assets/images/pages/img14.svg").img-fluid  
            .col-12.col-md-4
                img.img-a.mt-5(src="assets/images/pages/img15.svg").img-fluid  
            .col-12.col-md-4
                img.img-a.mt-5(src="assets/images/pages/img16.svg").img-fluid  

        .row.justify-content-center.align-items-center
            .col-12
                img.img-a.mt-5(src="assets/images/pages/img17.svg").img-fluid 

    #clasificacionem
    h1.mt-5.text-title 2.2 Clasificación de las empresas 
    .brand-line-primary
    .card
        .card-body
            p Las empresas se pueden clasificar de acuerdo con los siguientes criterios:   

            ul.mt-4 
                li
                    p Según su actividad económica.

                li
                    p Según la forma jurídica.  

                li
                    p Según su tamaño.  

                li
                    p Según el ámbito de operación.    

                li
                    p Según la composición de capital. 


    h1.mt-5.text-title 2.2.1 Según su actividad económica
    .brand-line-primary
    .card
        .card-body
            p Las empresas se pueden clasificar de acuerdo con los siguientes criterios:  

            .row.px-5.justify-content-center.align-items-center
                .col-auto
                    img.img-a.mt-5(src="assets/images/pages/img18.svg").img-fluid 
                .col-12.col-md-10
                    h2.text-title Sector Primario:
                    p Empresas que obtienen materias primas materiales y vegetales: agricultura, ganadería, pesca, minería

            .row.px-5.justify-content-center.align-items-center
                .col-auto
                    img.img-a.mt-5(src="assets/images/pages/img19.svg").img-fluid 
                .col-12.col-md-10
                    h2.text-title Sector Secundario:
                    p Empresa que transforman las materias primas en productos elaborados: industria, artesanías, construcción

            .row.px-5.justify-content-center.align-items-center
                .col-auto
                    img.img-a.mt-5(src="assets/images/pages/img20.svg").img-fluid 
                .col-12.col-md-10
                    h2.text-title Sector terciario:
                    p Empresas que generan servicios: educación, transporte y comercio

    h1.mt-5.text-title 2.2.2 Según la forma jurídica 
    .brand-line-primary    
    .card
        .card-body
            p En la siguiente figura se observa la clasificación de empresas según la forma jurídica.
            img.img-a.mt-5(src="assets/images/pages/img21.svg").img-fluid  

    h1.mt-5.text-title 2.2.3 Según tamaño
    .brand-line-primary    
    .card
        .card-body
            p En Colombia, de acuerdo con el tamaño, las empresas se clasifican como se observa en la siguiente tabla: 
    img.img-a.mt-5(src="assets/images/pages/img22.svg", style="max-width: 100%") 

    h1.mt-5.text-title 2.2.4 Según el ámbito de operación 

    .card
        .card-body
            p De acuerdo con el lugar donde la empresa realiza sus operaciones, se clasifica como se observa a continuación: 

    .row.justify-content-center.align-items-center
        .col-12.col-md-3
            img.img-a.mt-5(src="assets/images/pages/img23.svg").img-fluid  
        .col-12.col-md-3
            img.img-a.mt-5(src="assets/images/pages/img24.svg").img-fluid  
        .col-12.col-md-3
            img.img-a.mt-5(src="assets/images/pages/img25.svg").img-fluid 
        .col-12.col-md-3
            img.img-a.mt-5(src="assets/images/pages/img26.svg").img-fluid                                                                         

    h1.mt-5.text-title 2.2.5 Según la composición de capital
    .brand-line-primary
            
    .row.justify-content-center.align-items-center
        .col-12.col-md-3
            img.img-a.mt-5(src="assets/images/pages/img28.svg").img-fluid  
        .col-12.col-md-3
            img.img-a.mt-5(src="assets/images/pages/img27.svg").img-fluid  
        .col-12.col-md-3
            img.img-a.mt-5(src="assets/images/pages/img29.svg").img-fluid                 

