include ../mixins/functions

+pageHeader('Comerciante & Empresa', 'assets/images/header/header_media.svg')

.container
    h1.mt-5.text-title 4. Las sociedades
    .brand-line-primary
    .card
        .card-body
            .row.justify-content-center.align-items-center
                .col-12.col-md-6
                    p.mb-5 Las sociedades se clasifican de la siguiente manera: 
                    
                    ul
                        li
                            p Sociedad colectiva.

                        li
                            p Sociedad limitada.   

                        li
                            p Sociedad en comandita simple.                                                              

                        li
                            p Sociedad anónima simplificada.    

                        li
                            p Sociedad anónima.    

                        li
                            p Sociedad en comandita por acciones

                .col-12.col-md-6
                    img.img-a.mt-5(src="assets/images/pages/img32.svg").img-fluid

            p.mt-5 Para conocer cada una de las sociedades es importante consultar el material complementario. Además, establecer una visita de asesoría programada en la Cámara de Comercio más cercana a la zona de influencia.
