include ../mixins/functions

+pageHeader('Comerciante & Empresa', 'assets/images/header/header_media.svg')

.container
    .header-ecored 
        h1.mt-5.text-title 5. Principios corporativos

    .card
        .card-body
            p Las sociedades o sociedades corporativas como se indicó anteriormente son una persona jurídica que está organizada para comercializar bienes y/o servicios a través de actividades que aportan valor agregado.

            p Estas organizaciones para operar de forma ética se basan en principios corporativos que son un conjunto de valores, creencias o normas que regulan el actuar de la organización, de este aspecto se derivan as políticas con las cuales la empresa actúa frente a sus clientes internos y externos que permita realizar su misión de acuerdo con la manera de pensar de sus propietarios.
        .row.mx-0
            img.img-a.my-5(src="assets/images/pages/img37.svg", style="width: 100%").img-fluid

        .row.justify-content-center.align-items-center
            .col-12.col-md-4
                img.img-a.mt-5(src="assets/images/pages/img33.svg").img-fluid  
            .col-12.col-md-4
                img.img-a.mt-5(src="assets/images/pages/img34.svg").img-fluid  
            .col-12.col-md-4
                img.img-a.mt-5(src="assets/images/pages/img35.svg").img-fluid  

        .row.mb-5.justify-content-center.align-items-center
            .col-12
                img.img-a.mt-5(src="assets/images/pages/img36.svg").img-fluid             

            
    p.mt-5 Los valores surgen del pensamiento de los socios de la corporación que permite a los trabajadores comprender a través de un mensaje claro cuáles son los valores a implementar en el actuar de la empresa.