.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody

            tr
                td 
                    strong Codigo de comercio de Colombia
                td PDF
                td 
                    a(href="media/documentos/MC_AA1_Codigo_de_comercio_de_Colombia.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td 
                    strong Tipos de empresas en Colombia y su constitución
                td PDF
                td 
                    a(href="media/documentos/MC_AA1_Tipos_de_empresas_en_Colombia_y_su_constitucion.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


